<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="поиск" [(ngModel)]="title"/>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="searchTitle()">
          Поиск
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Notes List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let tutorial of tutorials; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveTutorial(tutorial, i)"
      >
        {{ tutorial.title }}
      </li>
    </ul>
    <br>
    <button class="btn btn-sm btn-outline-danger" (click)="removeAllTutorials()">
      Удалить все
    </button>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentTutorial">
      <h4>Note</h4>
      <div>
        <label><strong>Название:</strong></label> {{ currentTutorial.title }}
      </div>
      <div>
        <label><strong>Описание:</strong></label>
        {{ currentTutorial.description }}
      </div>
      <div>

        <label><strong>Статус:</strong></label>
        {{ currentTutorial.published ? "done" : "В ожидании" }}
      </div>
      <br>
      <a class="btn btn-sm btn-outline-success" href="/tutorials/{{ currentTutorial.id }}">
        Изменить
      </a>
    </div>

    <div *ngIf="!currentTutorial">
      <br/>
      <p>Выберите note...</p>
    </div>
  </div>
</div>
